body {
   font-family: "Nunito", sans-serif;
}

h1, h2, h3 {
   font-family: "Original Surfer", cursive;
}

h2 {
   color: #ffafbd;
   letter-spacing: 1.5px;
}

header h2 {
   color: white;
}

.site-footer {
   background: #ffc3a0; /*removed gradient on purpose */
   padding: 15px 0;
}

.jumbotron {
   margin: 0;
   padding: 30px;
   background-image: linear-gradient(to right, #ffafbd, #ffc3a0 90%, #f8d58a);
   color: white;
}

.row-content {
   padding: 50px 0;
   border-bottom: 1px ridge;
   min-height: 200px;
}

a:link, a:visited {
   color: black;
}

.navbar {
   background-color: #ffc3a0;
}

.breadcrumb {
   background-color: #fcf0f2;