$color-primary: #ffafbd;
$color-secondary: #ffc3a0;
$color-pale: #f8d58a;
$color-mid: #fa647d;
$black: #000000;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Nunito", sans-serif;
$header-font: "Original Surfer", cursive;

body {
   font-family: $body-font;
}

h1, h2, h3 {
   font-family: $header-font;
}

h2 {
   color: $color-primary;
   letter-spacing: 1.5px;
}

header {
      h2 {
         color: white;
   }
}

.site-footer {
   background: $color-secondary; /*removed gradient on purpose */
   padding: 15px 0;
}

.jumbotron {
   margin: 0;
   padding: 30px;
   background-image: linear-gradient(to right, $color-primary, $color-secondary 90%, $color-pale);
   color: white;
}

.row-content {
   padding: 50px 0;
   border-bottom: 1px ridge;
   min-height: 200px;
}

a:link, a:visited {
   color: $black;
}

.navbar {
   background-color: $color-secondary;
}

.breadcrumb {
   background-color: $color-pale;
}

a, a:hover {
   color: inherit;
   text-decoration: none;
 }

 /* transparent bg in carousel */
 .carousel-caption {
   background-color: $color-black-transparent;
}

.carousel {
   border: solid $color-pale;
}

#carouselButton {
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: 100;
}